body {
  text-align: center;
  color: #d9dadc;
  background: #3d4045;
  padding: 20px;
}
a {
  color: #eee;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: underline;
}
.error {
  color: #f44;
  font-weight: bold;
}
.success {
  color: #5d5;
  font-weight: bold;
}
