html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
body {
    margin: 0px;
    height: 100%;
    text-align: center;
    background: #fbfbfb;
    color: #1f2123;
}
a > img {
    border: 0;
}
table, tr, th, td {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 3px 10px;
}
th {
    background: #ddd;
}
ul.tabs {
    display: flex;
    justify-content: center;
}
ul.tabs>li {
    border-radius: 8px 8px 0px 0px;
    list-style-type: none;
    display: inline-block;
    border-top: 2px solid black;
    border-left: 2px solid black;
    padding: 7px 20px 5px 20px;
}
ul.tabs>li:last-child {
    border-right: 2px solid black;
}
ul.tabs>li.selected {
    font-weight: bold;
}
ul.tabs>li.notselected {
    background: #eeeeee;
    cursor: pointer;
    border-bottom: 2px solid black;
}
ul.tabs>li.notselected:hover {
    background: #ffffff;
    border-bottom: 2px solid black;
}
#email {
    width: 250px;
}
.homeLink {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 30px;
}
.warningCNIL {
    display: inline-block;
    vertical-align: middle;
    padding-top: 15px;
    padding-bottom: 5px;
}
.login {
    background: #eeeeee;
    padding: 10px;
}
.stayConnectCookieWarning {
    background: #ee9;
    max-width: 800px;
    margin: auto;
    padding: 10px 20px;
}
.info {
    background: #bbffbb;
    font-weight: bold;
    color: #000000;
    padding: 5px;
}
.error {
    background: #ffbbbb;
    font-weight: bold;
    color: #000000;
    padding: 5px;
}
.linkButton {
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
.action {
    cursor: pointer;
}
.tutorColumn, .teammateColumn {
    width: 160px;
}
.reportsActions {
    width: 150px;
}
.planningToday {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.done .date {
    background: #ddffdd;
}
.planned-complete .date {
    background: #ddffdd;
}
.planned-uncomplete .date {
    background: #f0ffd8;
}
.unsure .date {
    background: #ffddcc;
}
.canceled {
    background: #ffbbbb;
}
.usersList .roleAssigner.wrongRole {
    background: #ffbbbb !important;
}
.usersList .roleAssigner .wrongAttribute {
    background: #ffbbbb !important;
}
.usersList .former {
    background: #aaaaaa;
}
.usersList .roleAssigner.unregistered {
    background: #ddddbb;
}
.usersList .appli {
    background: #ddddff;
}
.usersList .tutor,.board,.root {
    background: #ddffdd;
}
.usersList .roleAssigner.noPassword:not(.appli):not(.wrongRole) {
    background: #ffddbb !important;
}
.usersList .searchBar {
    padding: 10px;
}
.uploadReportField {
    display: none;
}
.uploadReportLabel {
    border: 1px solid #ccc;
    background: #eee;
    display: inline-block;
    padding: 2px 8px 1px 8px;
    cursor: pointer;
    font-size: small;
}
.uploadReportLabel:hover {
    background: #fff;
}
.verticalTitle {
    font-size: x-small;
}
