<h3>Réinitialisation du mot de passe</h3>
<div>
    Pour réinitialiser votre mot de passe, indiquer votre adresse email utilisée lors de votre inscription
    dans le formulaire suivant.<br/>
    Après avoir cliquer sur "Réinitialiser le mot de passe", vous recevrez un email contenant un lien
    qui vous permettra de choisir votre nouveau mot de passe.
</div><br/>
<div class='login'>
  <div class='error' ng-show="sessionInfo.lastError">{{sessionInfo.lastError}}</div>
  <label for='email'>Email</label>
  <input id='email' type='text' name='email' ng-model='email' placeholder="Votre adresse email" /><br/>
  <button ng-click='resetPassword()' ng-disabled='passwordResetInProgress'>Réinitialiser le mot de passe</button>
</div>
<br/>
<button ng-click='cancel()'>Retour</button>
