<h3>Modification du mot de passe</h3>
<div>Veuillez renseigner le formulaire suivant pour modifier votre mot de passe :</div><br/>
<div class='login'>
  <div class='error' ng-show="sessionInfo.lastError">{{sessionInfo.lastError}}</div>
  <div class="fieldGroup">
    <label for="password">Mot de passe</label>
    <input id='password' type='password' name='password' ng-model='password' placeholder="Votre mot de passe" />
  </div>
  <div class="fieldGroup">
    <label for="passwordConfirm">Confirmation du mot de passe</label>
    <input id='passwordConfirm' type='password' name='passwordConfirm' ng-model='passwordConfirm' placeholder="Votre mot de passe" />
  </div>
  <div class="fieldGroup">
    <button ng-click='setPassword()'  ng-disabled='passwordChangeInProgress'>Modifier le mot de passe</button>
  </div>
</div><br/>
<button ng-click='cancel()'>Retour</button>
