<div>
  <button ng-click="goRoamingsList()">Accueil</button>
  <hr/>
  <input type="text" ng-model="apiId" style="width: 200px" />
  <input type="text" ng-model="apiToken" style="width: 350px" />
  <button ng-click="updateApiCreds()">Modifier les identifiants de l'API</button>
  <hr/>
  <button ng-click="reinit()">Réinitialiser</button>
  <button ng-click="loadRemote()">Réinitialiser à partir des CR distants</button>
  <button ng-click="updateRoamings()">Sauvegarder</button><br/>
  <textarea ng-model="roamingsJSON" style="width: 700px; height: 650px"></textarea>
</div>
