<div id="donations">
  <h2>Dons récents de couvertures et de tentes</h2>
  <button ng-click="goBack()">Retour</button>
  <br/><br/>
  <table>
    <tr>
      <th>Date</th>
      <th>Personnes rencontrées</th>
      <th>Lieu</th>
      <th class="verticalTitle">A<br>d<br>u<br>l<br>t<br>e</th>
      <th class="verticalTitle">E<br>n<br>f<br>a<br>n<br>t</th>
      <th class="verticalTitle">C<br>o<br>u<br>v<br>e<br>r<br>t</th>
      <th class="verticalTitle">T<br>e<br>n<br>t<br>e</th>
      <th class="verticalTitle">B<br>A<br>I</th>
      <th class="verticalTitle">H<br>y<br>g<br>i<br>è<br>n<br>e</th>
      <th>Commentaire</th>
    </tr>
    <tr ng-repeat="donation in donations | orderBy:'-date'">
      <td>{{donation.date | humanDate | capitalize}}</td>
      <td><ul class="roamingEditorPeopleList"><li ng-repeat="person in donation.people track by $index">{{person}}</li></ul></td>
      <td>{{donation.location}}</td>
      <td>{{donation.nbAdults}}</td>
      <td>{{donation.nbChildren}}</td>
      <td>{{donation.blankets}}</td>
      <td>{{donation.tents}}</td>
      <td>{{donation.bai ? 'X' : ''}}</td>
      <td>{{donation.hygiene ? 'X' : ''}}</td>
      <td>{{donation.comments}}</td>
    </tr>
  </table>
  <br/>
  <button ng-click="goBack()">Retour</button>
</div>
