<div id="roaming">
  <h2>
    Maraude du {{roaming.date | humanDate}}
    <div class="titleExtra {{ {IN_PROGRESS:'statusInProgress', SYNCHRONIZED:'statusDone', FAILED:'statusFailed'}[synchroStatus] }}">
    {{
      {
          IN_PROGRESS:'[synchronisation en cours]',
          SYNCHRONIZED:'[synchronisée]',
          FAILED:'[échec de la synchronisation, vérifier l\'état de la connexion réseau]'
      }[synchroStatus]
    }}
    </div>
  </h2>
  <button ng-click="goDonations()">Voir les dons</button>
  <br/><br/>
  <label for="tutorField">Tuteur</label>
  <input id="tutorField" ng-model="roaming.tutor" type="text" ng-change="updateRoaming()" ng-disabled="!isEditable()" /><br/>
  <div ng-repeat="teammate in roaming.teammates track by $index">
    Coéquipier
    <input class="teammateInput" ng-model="roaming.teammates[$index]" ng-enter="addTeammate()" type="text" ng-change="updateRoaming()" ng-disabled="!isEditable()" />
    <button ng-click="removeTeammate($index)" ng-attr-title="Enlever un bénévole" ng-disabled="roaming.teammates.length &lt;= 1" ng-show="isEditable()">-</button>
  </div>
  <button ng-click="addTeammate()" ng-attr-title="Ajouter un bénévole" ng-show="roaming.teammates.length &lt; 3 &amp;&amp; isEditable()">+</button>
  <br/>
  Voiture
    <label><input ng-model="roaming.vehicle" type="radio" value="1" ng-change="updateRoaming()" ng-disabled="!isEditable()" />1</label>
    <label><input ng-model="roaming.vehicle" type="radio" value="2" ng-change="updateRoaming()" ng-disabled="!isEditable()" />2</label>
  <br/><br/>
  <button ng-click="addIntervention()" ng-show="isEditable()">Ajouter une intervention</button><br/>
  <br ng-show="isEditable()"/>
  <table ng-show="roaming.interventions.length > 0">
    <tr>
      <th>Personnes rencontrées</th>
      <th>Lieu</th>
      <th>Heure</th>
      <th>Source</th>
      <th class="verticalTitle">A<br>d<br>u<br>l<br>t<br>e</th>
      <th class="verticalTitle">E<br>n<br>f<br>a<br>n<br>t</th>
      <th class="verticalTitle">C<br>o<br>u<br>v<br>e<br>r<br>t</th>
      <th class="verticalTitle">T<br>e<br>n<br>t<br>e</th>
      <th class="verticalTitle">B<br>A<br>I</th>
      <th class="verticalTitle">H<br>y<br>g<br>i<br>è<br>n<br>e</th>
      <th>Commentaire</th>
      <th ng-show="isEditable()">Action</th>
    </tr>
    <tr ng-repeat="(interventionIndex, intervention) in roaming.interventions">
      <td><ul class="roamingEditorPeopleList"><li ng-repeat="person in intervention.people track by $index">{{person}}</li></ul></td>
      <td>{{intervention.location}} <img class="mapLink" ng-click="goMapLocation(intervention)" src="img/earth.png"></td>
      <td>{{intervention.time}}</td>
      <td>{{intervention.source}}</td>
      <td>{{intervention.nbAdults}}</td>
      <td>{{intervention.nbChildren}}</td>
      <td>{{intervention.blankets}}</td>
      <td>{{intervention.tents}}</td>
      <td>{{intervention.bai ? 'X' : ''}}</td>
      <td>{{intervention.hygiene ? 'X' : ''}}</td>
      <td>{{intervention.comments}}</td>
      <td ng-show="isEditable()">
        <button ng-click="reportIntervention(interventionIndex)">Faire signalement</button>
        <button ng-click="editIntervention(interventionIndex)">Editer</button>
        <button ng-click="deleteIntervention(interventionIndex)">Supprimer</button>
      </td>
    </tr>
  </table>
  <br/>
  <button ng-click="addIntervention()" ng-show="roaming.interventions.length > 0 &amp;&amp; isEditable()">Ajouter une intervention</button>
  <br/><br/>
  <button ng-click="goMap()">Voir les interventions sur une carte</button>
  <br/><br/>
  <button ng-click="goRoamingList()">Revenir à la liste des maraudes</button>
  <br/><br/>
</div>
