<div id="roamingList">
  <h2>Liste des dernières maraudes</h2>
  <button ng-click="createRoaming()">Editer le compte rendu du jour</button>
  <br/><br/>
  <table ng-show="roamings.length > 0">
    <tr>
      <th>Date</th>
      <th>Tuteur</th>
      <th>Coéquipier</th>
      <th>Coéquipier</th>
      <th>Coéquipier</th>
      <th>Nb interventions</th>
      <th>Envoi au serveur</th>
      <th>Action</th>
    </tr>
    <tr ng-repeat="roaming in roamings">
      <td>{{roaming.date | humanDate | capitalize}}</td>
      <td>{{roaming.tutor}}</td>
      <td>{{roaming.teammates[0]}}</td>
      <td>{{roaming.teammates[1]}}</td>
      <td>{{roaming.teammates[2]}}</td>
      <td>{{roaming.interventions.length}}</td>
      <td class="{{ {IN_PROGRESS:'statusInProgress', SYNCHRONIZED:'statusDone', FAILED:'statusFailed'}[roaming.synchroStatus] }}">
        {{ {IN_PROGRESS:'en cours', SYNCHRONIZED:'synchronisé', FAILED:'échec'}[roaming.synchroStatus] }}
      </td>
      <td>
        <button ng-click="editRoaming(roaming)">Editer</button>
        <button ng-click="resynchro()" ng-show="roaming.synchroStatus != 'SYNCHRONIZED' && roaming.synchroStatus != 'IN_PROGRESS'">Resynchroniser</button>
      </td>
    </tr>
  </table>
</div>
