<div class="login">
  Connecté en tant que {{sessionInfo.user.username}}
  <button ng-click="logout()" ng-show="hasP('P_LOG_OUT')">Me déconnecter</button>
</div>
<div id="roamingView">
    <div class='homeLink'><a href='/'><img src='img/home-32x32.png'></a></div>
    <div class='warningCNIL'>
        Les informations contenues dans les comptes rendus de maraudes sont réservées à un usage interne à
        <a target='_blank' href='https://www.samu-social-grenoble.fr/'>l'association VINCI</a>.
    </div>
    <h2>Maraude du {{roamingDate | humanDate | capitalize}}</h2>
    <p ng-if="roaming != null">Equipiers : {{roaming.teammates.join(', ')}} et {{roaming.tutor}} - Véhicule : {{roaming.vehicle}}</p>
    <div ng-if="roaming == null">Pas de maraude accessible pour ce jour là.</div>
    <table ng-show="roaming.interventions.length > 0">
        <tr>
            <th>Personnes rencontrées</th>
            <th>Lieu</th>
            <th>Heure</th>
            <th ng-if="hasP('P_SEE_REPORT_PHONE')">Téléphone</th>
            <th>Source</th>
            <th class="verticalTitle">A<br>d<br>u<br>l<br>t<br>e</th>
            <th class="verticalTitle">E<br>n<br>f<br>a<br>n<br>t</th>
            <th class="verticalTitle">C<br>o<br>u<br>v<br>e<br>r<br>t</th>
            <th class="verticalTitle">T<br>e<br>n<br>t<br>e</th>
            <th class="verticalTitle">H<br>y<br>g<br>i<br>è<br>n<br>e</th>
            <th>Commentaire</th>
        </tr>
        <tr ng-repeat="(interventionIndex, intervention) in roaming.interventions">
            <td><ul class="roamingEditorPeopleList"><li ng-repeat="person in intervention.people track by $index">{{person}}</li></ul></td>
            <td>{{intervention.location}}</td>
            <td>{{intervention.time}}</td>
            <td ng-if="hasP('P_SEE_REPORT_PHONE')">{{intervention.phone}}</td>
            <td>{{intervention.source}}</td>
            <td>{{intervention.nbAdults}}</td>
            <td>{{intervention.nbChildren}}</td>
            <td>{{intervention.blankets}}</td>
            <td>{{intervention.tents}}</td>
            <td>{{intervention.hygiene ? 'X' : ''}}</td>
            <td>{{intervention.comments}}</td>
        </tr>
    </table>
</div>

