<div class="login">
  Connecté en tant que {{sessionInfo.user.firstname}} {{sessionInfo.user.lastname}}
  <button ng-click="setPassword()" ng-show="hasP('P_CHANGE_PASSWORD')">Modifier mon mot de passe</button>
  <button ng-click="logout()" ng-show="hasP('P_LOG_OUT')">Me déconnecter</button>
</div>
<div id="roamingList">
  <div class='homeLink'><a href='/'><img src='img/home-32x32.png'></a></div>
  <div class='warningCNIL'>
    Les informations contenues dans les comptes rendus de maraudes sont réservées à un usage interne à
    <a target='_blank' href='https://www.samu-social-grenoble.fr/'>l'association VINCI</a>.
  </div>
  <ul class="tabs">
    <li ng-repeat="tabMonth in monthList" ng-class="isSelectedMonth(tabMonth) ? 'selected' : 'notselected'"
        ng-click="showMonth(tabMonth)">
        {{tabMonth | humanMonth | capitalize}}
        <img ng-click="editPlanning(tabMonth); $event.stopPropagation();"
            ng-show="hasP('P_EDIT_PLANNING') && isSelectedMonth(tabMonth)"
            title="Editer le planning" alt="[E]" src="img/edit.png" class="action" />
    </li>
  </ul>
  <div class="error" ng-if="sessionInfo.user.role === 'former'">
    Désolé, les anciens membres de l'association n'ont plus accès aux comptes rendus.
  </div>
  <ul class='planningInfos'>
    <li ng-repeat="info in planningInfos">
        {{info}}
    </li>
  </ul>
  <table>
    <tr>
      <th>Date</th>
      <th>Tuteur</th>
      <th>Coéquipier</th>
      <th>Coéquipier</th>
      <th ng-show="roamingByFour">Coéquipier</th>
      <th>Compte rendu</th>
    </tr>
    <tr class="{{ (roaming.hasWebReport || roaming.hasFileReport) ? 'done' : roaming.status }} {{roaming.isToday ? 'planningToday' : '' }}"
        ng-repeat="roaming in roamings">
      <td class="date">{{roaming.date | humanDate | capitalize}}</td>
      <td class="tutorColumn">
        {{roaming.tutor}}
        <div ng-if="hasP('P_ENROL_AS_TUTOR') && !roaming.isPast">
          <img ng-if="roaming.tutor == ''" src="img/enrol.svg" width="15px" height="15px" class="action"
              ng-click="enrol(roaming, 0)" />
          <img ng-if="isCurrentUser(roaming.tutor)" src="img/cancel.svg" width="15px" height="15px" class="action"
              ng-click="cancel(roaming, 0)" />
        </div>
      </td>
      <td class="teammateColumn">
        {{roaming.teammates[0]}}
        <div ng-if="hasP('P_ENROL') && !roaming.isPast">
          <img ng-if="roaming.teammates[0] == ''" src="img/enrol.svg" width="15px" height="15px" class="action"
              ng-click="enrol(roaming, 1)" />
          <img ng-if="isCurrentUser(roaming.teammates[0])" src="img/cancel.svg" width="15px" height="15px" class="action"
              ng-click="cancel(roaming, 1)" />
        </div>
      </td>
      <td class="teammateColumn">
        {{roaming.teammates[1]}}
        <div ng-if="hasP('P_ENROL') && !roaming.isPast">
          <img ng-if="roaming.teammates[1] == ''" src="img/enrol.svg" width="15px" height="15px" class="action"
              ng-click="enrol(roaming, 2)" />
          <img ng-if="isCurrentUser(roaming.teammates[1])" src="img/cancel.svg" width="15px" height="15px" class="action"
              ng-click="cancel(roaming, 2)" />
        </div>
      </td>
      <td class="teammateColumn" ng-show="roamingByFour">
        {{roaming.teammates[2]}}
        <div ng-if="hasP('P_ENROL') && !roaming.isPast">
          <img ng-if="roaming.teammates[2] == ''" src="img/enrol.svg" width="15px" height="15px" class="action"
              ng-click="enrol(roaming, 3)" />
          <img ng-if="isCurrentUser(roaming.teammates[2])" src="img/cancel.svg" width="15px" height="15px" class="action"
              ng-click="cancel(roaming, 3)" />
        </div>
      </td>
      <td class="reportsActions">
        <a ng-if="roaming.hasFileReport" target="_blank"
            ng-href="{{roamingApiEndPoint}}/getPdf.php?roamingId={{roaming.date}}">{{roaming.date}}.pdf</a>
        <img ng-if="roaming.hasFileReport && hasP('P_DELETE_REPORT')" ng-click="deleteReport(roaming.date)" alt="[Supprimer]"
             src="img/trash.gif" class="action" />
        <a ng-if="roaming.hasWebReport && !roaming.isToday" target="_blank"
            ng-href="{{roamingApiEndPoint}}/getHtml.php?roamingId={{roaming.id}}">{{roaming.date}}</a>
        <button ng-if="roaming.hasWebReport && hasP('P_EDIT_REPORT') && roaming.isYesterday" ng-disabled="editRunning"
            ng-click="editRoaming(roaming.id)" class="action">Editer</button>
        <div ng-if="hasP('P_UPLOAD_REPORT') && roaming.isPast && !(roaming.hasWebReport || roaming.hasFileReport)"
            ng-show="!uploadRunning">
          <label ng-attr-for="{{reportUploadId(roaming.date)}}" class="uploadReportLabel">
            <img src="img/upload.png"> Ajouter
          </label>
          <input type="file" ng-attr-id="{{reportUploadId(roaming.date)}}" name="report" class="uploadReportField"
              onChange="angular.element(this).scope().uploadReport(angular.element(this).scope().roaming.date)" />
        </div>
      </td>
    </tr>
  </table>
</div>
