<div class="login">
  Connecté en tant que {{sessionInfo.user.firstname}} {{sessionInfo.user.lastname}}
  <button ng-click="setPassword()" ng-show="hasP('P_CHANGE_PASSWORD')">Modifier mon mot de passe</button>
  <button ng-click="logout()" ng-show="hasP('P_LOG_OUT')">Me déconnecter</button>
</div>
<div id="roamingList">
  <div class='homeLink'><a href='../dokuwiki'><img src='img/home-32x32.png'></a></div>
  <div class='warningCNIL'>
    Les informations contenues dans les comptes rendus de maraudes sont réservées à un usage interne à
    <a target='_blank' href='https://www.samu-social-grenoble.fr/'>l'association VINCI</a>.
  </div>
  <ul class="tabs">
    <li ng-repeat="tabMonth in monthList" ng-class="isSelectedMonth(tabMonth) ? 'selected' : 'notselected'" ng-click="showMonth(tabMonth)">
        {{tabMonth | humanMonth | capitalize}}
    </li>
  </ul>
  <table>
    <tr>
      <th>Date</th>
      <th>Tuteur</th>
      <th>Coéquipier</th>
      <th>Coéquipier</th>
      <th>Coéquipier</th>
      <th>Compte rendu</th>
    </tr>
    <tr ng-repeat="day in calendar" class="{{ (roamings[day] || existsReportFile(day)) ? 'done' : planning[day]['status'] }} {{isToday(day) ? 'planningToday' : '' }}">
      <td class="date">{{day | humanDate | capitalize}}</td>
      <td class="tutor">{{roamings[day] ? roamings[day]['tutor'] : planning[day]['tutor']}}</td>
      <td class="teammates">{{roamings[day] ? roamings[day]['teammates'][0] : planning[day]['teammates'][0]}}</td>
      <td class="teammates">{{roamings[day] ? roamings[day]['teammates'][1] : planning[day]['teammates'][1]}}</td>
      <td class="teammates">{{roamings[day] ? roamings[day]['teammates'][2] : planning[day]['teammates'][2]}}</td>
      <td class="reportsActions">
        <a ng-href="{{roamingApiEndPoint}}/getPdf.php?roamingId={{day}}"
            ng-if="existsReportFile(day)" target="_blank">{{day}}.pdf</a>
        <img ng-click="deleteReport(day)" ng-if="existsReportFile(day) && hasP('P_DELETE_REPORT')" alt="[Supprimer]"
             src="img/trash.gif" />
        <a ng-href="{{roamingApiEndPoint}}/getPdf.php?roamingId={{roamings[day]['id']}}"
            ng-if="roamings[day] && !isToday(day)" target="_blank">{{day}}.pdf</a>
        <button ng-click="editRoaming(roamings[day]['id'])" ng-disabled="editRunning"
            ng-if="roamings[day] && hasP('P_EDIT_REPORT') && isYesterday(day)">Editer</button>
      </td>
    </tr>
  </table>
</div>
