<div id="usersList" class="usersList">
  <h2>
    <div class='homeLink'><a href='/'><img src='img/home-32x32.png'></a></div>
    Liste des membres de l'association
  </h2>
  <div class='error' ng-show="errorMsg">{{errorMsg}}</div>
  <table>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Téléphone</th>
      <th>Adresse</th>
      <th>H/F</th>
      <th>Rôle</th>
    </tr>
    <tr ng-repeat="user in users | orderBy:'firstname'" ng-class="[ user.role,
                    { 'noPassword': user.registrationFinalised == 0,
                      'wrongRole': !user.rightRole,
                      'roleAssigner': hasP('P_ASSIGN_ROLE') } ]">
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.address}}</td>
      <td>{{user.gender == 'M' ? 'H' : user.gender}}</td>
      <td>
        <span ng-if="!hasP('P_ASSIGN_ROLE') || user.userId == sessionInfo.user.userId">{{user.role}}</span>
        <span ng-if="hasP('P_ASSIGN_ROLE') && user.userId != sessionInfo.user.userId && user.role != 'unregistered'">
          <select type='text' ng-model="user.role" ng-options="role as role for role in roles" ng-change="setRole(user)">
          </select>
        </span>
        <span ng-if="hasP('P_REGISTER') && user.role == 'unregistered'" class="invitation">
          <button ng-click='sendInvitation(user)'>Inviter</button>
        </span>
      </td>
    </tr>
  </table>
</div>
