<div id="intervention">

    <fieldset>
      <legend>Heure de la rencontre</legend>
      <select name="hour" ng-model="hour" required="true">
        <option ng-repeat="i in range(0,23)" value="{{('00'+i).slice(-2)}}">{{('00'+i).slice(-2)}}</option>
      </select>
      :
      <select name="minute" ng-model="minute" required="true">
        <option ng-repeat="i in range(0,55,5)" value="{{('00'+i).slice(-2)}}">{{('00'+i).slice(-2)}}</option>
      </select>
    </fieldset>
    <fieldset>
      <legend>Lieu de la rencontre</legend>
      <div id="locationFields">
        <textarea name="location" id="locationField" ng-model="intervention.location"
          placeholder="Merci de préciser le lieu de la rencontre">
        </textarea>
        <button ng-click="resetLocation()" ng-attr-title="Réinitialiser" ng-show="intervention.location != ''">Réinitialiser</button>
        <button ng-click="localizeMe()" ng-attr-title="Me localiser" ng-show="intervention.location == ''" ng-disabled="localisationInProgress">Me localiser</button>
      </div>
    </fieldset>
    <fieldset>
      <legend>Personnes rencontrées</legend>
      <div ng-repeat="person in intervention.people track by $index">
        <input class="personInput" ng-model="intervention.people[$index]" ng-enter="addPerson()" type="text" placeholder="Nom de la personne" />
        <button ng-click="removePerson($index)" ng-attr-title="Enlever {{intervention.people[$index]}}">-</button>
      </div>
      <button ng-click="addPerson()" ng-attr-title="Ajouter une personne">+</button>
    </fieldset>
    <fieldset class="interventionEditorStatistics">
      <legend>Statistiques</legend>
      <ul>
        <li>
          <label for="sourceField">Source</label>
          <select name="source" id="sourceField" ng-model="intervention.source" ng-options="s as s for s in sources" required="true">
          </select>
        </li>
        <li>
          <label for="nbAdultsField">Nombre d'adultes</label>
          <input type="number" name="nbAdults" id="nbAdultsField" ng-model="intervention.nbAdults" required="true" min="0" max="100" />
          <button ng-click="intervention.nbAdults=intervention.nbAdults-1" ng-attr-title="Décrémenter le nombre d'adultes" ng-disabled="intervention.nbAdults &lt;= 0">-</button>
          <button ng-click="intervention.nbAdults=intervention.nbAdults+1" ng-attr-title="Incrémenter le nombre d'adultes" ng-disabled="intervention.nbAdults >= 100">+</button>
        </li>
        <li>
          <label for="nbChildrenField">Nombre d'enfants</label>
          <input type="number" name="nbChildren" id="nbChildrenField" ng-model="intervention.nbChildren" required="true" min="0" max="100" />
          <button ng-click="intervention.nbChildren=intervention.nbChildren-1" ng-attr-title="Décrémenter le nombre d'enfant" ng-disabled="intervention.nbChildren &lt;= 0">-</button>
          <button ng-click="intervention.nbChildren=intervention.nbChildren+1" ng-attr-title="Incrémenter le nombre d'enfant" ng-disabled="intervention.nbChildren >= 100">+</button>
        </li>
        <li>
          <label for="blanketsField">Nombre de couvertures</label>
          <input type="number" name="blankets" id="blanketsField" ng-model="intervention.blankets" required="true" min="0" max="100" />
          <button ng-click="intervention.blankets=intervention.blankets-1" ng-attr-title="Décrémenter le nombre de couverture" ng-disabled="intervention.blankets &lt;= 0">-</button>
          <button ng-click="intervention.blankets=intervention.blankets+1" ng-attr-title="Incrémenter le nombre de couverture" ng-disabled="intervention.blankets >= 100">+</button>
        </li>
        <li>
          <label for="tentsField">Nombre de tentes</label>
          <input type="number" name="tents" id="tentsField" ng-model="intervention.tents" required="true" min="0" max="100" />
          <button ng-click="intervention.tents=intervention.tents-1" ng-attr-title="Décrémenter le nombre de tente" ng-disabled="intervention.tents &lt;= 0">-</button>
          <button ng-click="intervention.tents=intervention.tents+1" ng-attr-title="Incrémenter le nombre de tente" ng-disabled="intervention.tents >= 100">+</button>
        </li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Commentaires</legend>
      <textarea name="comments" id="commentsField" ng-model="intervention.comments"
        placeholder="Merci d'indiquer les informations pouvant être utiles aux autres maraudes tout en évitant les informations personnelles, médicales ou les jugements de valeur.">
      </textarea>
    </fieldset>
    <fieldset>
      <input type="button" ng-click="cancelInterventionEdit()" value="Annuler" />
      <input type="submit" ng-click="saveInterventionEdit()" value="Enregistrer" />
    </fieldset>
</div>

